---
import Icons from './Icons.astro';

interface Props {
    title:String;
    cantidad:String;
    icon: any;
  }
  
  const { title,cantidad,icon }: Props = Astro.props;
---
  
  <section>
    <div class="bg- flex gap-8">
        <div><Icons name={icon}/></div>
        <div>
            <span>{title}</span>
            <span>{cantidad}</span>
        </div>
    </div>
  </section>