---

---   

<footer class="bg-footer bg-cover h-96 my-10">
  <div class="h-full bg-black/60 flex text-white justify-evenly pt-14">
    <div>
      <h3 class="text-customOrange font-bold py-5">Ubicación</h3>
      <ul class="space-y-4">
        <li>
          <a href="#"><i class="fa-solid fa-map px-3"></i>AV-america 204</a>
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-envelope px-3"></i> rincongastronomico@gmail.com</a
          >
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-phone px-3"></i> 923456346</a>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-customOrange font-bold py-5">Acerca de</h3>
      <ul class="space-y-4">
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Informacion de empresa</a></li>
        <li><a href="#">Politica y privacidad</a></li>
        <li><a href="#">Contactanos</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-customOrange font-bold py-5">Ayuda</h3>
      <ul class="space-y-4">
        <li><a href="#">Especiales</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Lista de deseos</a></li>
        <li><a href="#">Mesas</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-customOrange font-bold py-5">Política</h3>
      <ul class="space-y-4">
        <li><a href="#">Política</a></li>
        <li><a href="#">Historial de pedidos</a></li>
        <li><a href="#">Afiliaciones</a></li>
        <li><a href="#">Boletin informativo</a></li>
      </ul>
    </div>
  </div>
</footer>
