---
import CategoriesMenu from "./CategoriesMenu.astro";
---
<section class="flex gap-10 bg-[#F2F1F2] py-5 justify-center">
    <CategoriesMenu title={"Platos calientes"} cantidad={"10 platos"} icon={"fa-light fa-pot-food"}/>
    <CategoriesMenu title={"Platos Frios"} cantidad={"10 platos"} icon={"fa-light fa-salad"}/>
    <CategoriesMenu title={"Postres"} cantidad={"10 platos"} icon={"fa-light fa-pie"}/>
    <CategoriesMenu title={"Vinos"} cantidad={"10 platos"} icon={"fa-sharp fa-light fa-wine-bottle"}/>
</section>