---
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";
import Icons from "./Icons.astro";
---

<header class="fixed top-0 z-10 w-full">
  <div
    class="flex gap-14 bg-customDark opacity-90 items-center justify-center py-2"
  >
    <!-- logo -->
    <div>
      <Image src={logo} alt="A description of my image." />
    </div>
    <!-- menu de opciones -->
    <nav>
      <ul class="flex space-x-24 *:font-bold text-white">
        <li><a href="/" class="hover:text-customOrange">INICIO</a></li>
        <li><a href="Menu" class="hover:text-customOrange">MENU</a></li>
        <li><a href="Events" class="hover:text-customOrange">EVENTOS</a></li>
        <li><a href="Reservaciones" class="hover:text-customOrange">RESERVACIONES</a></li>
        <li><a href="Contacto" class="hover:text-customOrange">CONTACTO</a></li>
      </ul>
    </nav>
    <!-- secion de iconos -->
    <div class="space-x-20 *:text-white">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <Icons name="cart-shopping" />
    </div>
    <button
      class="inline-flex items-center px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700"
      transition:animate="slide"
    >
      <a href="Login"><i class="fa-regular fa-user mr-2"></i>Usuario</a>
    </button>
  </div>
</header>
