---
import Icons from "@/components/Icons.astro";
---

<section class="bg-footer bg-cover">
  <button
  class="w-auto absolute right-12 top-12 inline-flex items-center p-2 bg-blue-500 text-white rounded-md hover:bg-blue-500 gap-2"
>
  <Icons name="house" />
  <a href="/">Volver al inicio</a>
</button>
</section>


