---
import Recomendacion from "@/assets/recomendacion.png";
import Image from "astro/components/Image.astro";
---

<section class="bg-[#83E1B1] ">
  <div class="flex">
    <div>
      <Image src={Recomendacion} alt="imagen de recomendacion"/>
    </div>
    <div class="flex flex-col justify-center gap-7 p-5">
      <h2 class="text-2xl font-bold">¡Reserva tu mesa en segundos!</h2>
      <p>
        Descubre la comodidad y eficiencia del nuevo sistema de reservas en
        línea de <b>Rincón Gastronomico</b>.
      </p>
      <h2 class="text-2xl font-bold">¿Por qué elegir nuestro sistema de reservas?</h2>
      <p>
        Facilidad y Rapidez Olvídate de llamadas telefónicas y tiempos de
        espera. Con unos pocos clics, puedes asegurarte una mesa en tu
        restaurante favorito, en el horario que prefieras.
      </p>
      <p>
        ¡Prueba hoy mismo la nueva forma de reservar y vive una experiencia
        gastronómica sin complicaciones!
      </p>
    </div>
  </div>
</section>
