---
import { Image } from "astro:assets";
import carnesRojas from "@/assets/carnesRojas.png";
import pescados from "@/assets/pescados.png";
import postres from "@/assets/postres.png";
import veganos from "@/assets/veganos.png";
---

<section>
  <div class="flex justify-center gap-36 *:text-center py-8">
    <div>
      <Image src={carnesRojas} alt="descripcion" />
      <h3>Carnes rojas</h3>
    </div>
    <div>
      <Image src={pescados} alt="descripcion" />
      <h3>Pescados</h3>
    </div>
    <div>
      <Image src={postres} alt="descripcion" />
      <h3>Postres</h3>
    </div>
    <div>
      <Image src={veganos} alt="descripcion" />
      <h3>Veganos</h3>
    </div>
  </div>
</section>
